:root {
    --header-maior: 25px;
    --header-menor: 15px;
    --fontew-fina: 300;
    --fontew-media: 500;
    --fontew-grossa: 700;
    --fontew-grossa-pra-caralho: 1000;

    --fonte-pequena: 14px;
    --fonte-media: 24px;
    --fonte-grande: 30px;
    --cor-site: firebrick;
    --cor-secundaria: black;
    --cor-destaque: rgba(255, 115, 0, 0.527);
    --cor-auxiliar: rgba(226, 226, 226, 0.753);
}
::selection {
    background-color: var(--cor-destaque);
}

body {
    background-color: var(--cor-secundaria);
}

